/* 
    Document   : fvalidate
    Created on : 5 mars 2010, 12:34:28
    Author     : flenoble
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Fvalidate Styles */
input {
        border:1px solid #E5E5E5;
        background:#FBFBFB none repeat scroll 0% 0%;
}

.inp-focus {
        border: 1px solid #73AAD2;
        }

.inp-error {
        border: solid 1px #CC6666;
		background-color: #FFF2F2;
        }

.err-msg {
        display: none;
        font-size: 0.85em;
		margin:4px;
		color:#C66;
		font-weight:bold;
        }

